<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Búsqueda			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Mostrar opciones</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>todas las condiciones</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>cualquier condición</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>esconder</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_CODIGO}


		<div class="form-group srchPanelRow {$filterRow_class_CODIGO}" {$filterRow_attrs_CODIGO}>
			<label>{$label stockmed CODIGO }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_CODIGO}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_CODIGO}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_CODIGO}</span>
						</div>
		{END searchCtrlBlock_CODIGO}
																{BEGIN searchCtrlBlock_VALOR_TOTAL}


		<div class="form-group srchPanelRow {$filterRow_class_VALOR_TOTAL}" {$filterRow_attrs_VALOR_TOTAL}>
			<label>{$label stockmed VALOR_TOTAL }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_VALOR_TOTAL}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_VALOR_TOTAL}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_VALOR_TOTAL}</span>
						</div>
		{END searchCtrlBlock_VALOR_TOTAL}
																{BEGIN searchCtrlBlock_STOCK}


		<div class="form-group srchPanelRow {$filterRow_class_STOCK}" {$filterRow_attrs_STOCK}>
			<label>{$label stockmed STOCK }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_STOCK}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_STOCK}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_STOCK}</span>
						</div>
		{END searchCtrlBlock_STOCK}
																{BEGIN searchCtrlBlock_SINONIMO}


		<div class="form-group srchPanelRow {$filterRow_class_SINONIMO}" {$filterRow_attrs_SINONIMO}>
			<label>{$label stockmed SINONIMO }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_SINONIMO}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_SINONIMO}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_SINONIMO}</span>
						</div>
		{END searchCtrlBlock_SINONIMO}
																{BEGIN searchCtrlBlock_REGISTRO_SANITARIO}


		<div class="form-group srchPanelRow {$filterRow_class_REGISTRO_SANITARIO}" {$filterRow_attrs_REGISTRO_SANITARIO}>
			<label>{$label stockmed REGISTRO_SANITARIO }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_REGISTRO_SANITARIO}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_REGISTRO_SANITARIO}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_REGISTRO_SANITARIO}</span>
						</div>
		{END searchCtrlBlock_REGISTRO_SANITARIO}
																{BEGIN searchCtrlBlock_PROVEEDOR}


		<div class="form-group srchPanelRow {$filterRow_class_PROVEEDOR}" {$filterRow_attrs_PROVEEDOR}>
			<label>{$label stockmed PROVEEDOR }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_PROVEEDOR}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_PROVEEDOR}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_PROVEEDOR}</span>
						</div>
		{END searchCtrlBlock_PROVEEDOR}
																{BEGIN searchCtrlBlock_PRESENTACI_N}


		<div class="form-group srchPanelRow {$filterRow_class_PRESENTACI_N}" {$filterRow_attrs_PRESENTACI_N}>
			<label>{$label stockmed PRESENTACI_N }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_PRESENTACI_N}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_PRESENTACI_N}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_PRESENTACI_N}</span>
						</div>
		{END searchCtrlBlock_PRESENTACI_N}
																{BEGIN searchCtrlBlock_PRECIO_UNITARIO}


		<div class="form-group srchPanelRow {$filterRow_class_PRECIO_UNITARIO}" {$filterRow_attrs_PRECIO_UNITARIO}>
			<label>{$label stockmed PRECIO_UNITARIO }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_PRECIO_UNITARIO}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_PRECIO_UNITARIO}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_PRECIO_UNITARIO}</span>
						</div>
		{END searchCtrlBlock_PRECIO_UNITARIO}
																{BEGIN searchCtrlBlock_NOMBRE}


		<div class="form-group srchPanelRow {$filterRow_class_NOMBRE}" {$filterRow_attrs_NOMBRE}>
			<label>{$label stockmed NOMBRE }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_NOMBRE}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_NOMBRE}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_NOMBRE}</span>
						</div>
		{END searchCtrlBlock_NOMBRE}
																{BEGIN searchCtrlBlock_LOTE}


		<div class="form-group srchPanelRow {$filterRow_class_LOTE}" {$filterRow_attrs_LOTE}>
			<label>{$label stockmed LOTE }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_LOTE}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_LOTE}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_LOTE}</span>
						</div>
		{END searchCtrlBlock_LOTE}
																{BEGIN searchCtrlBlock_FECHA_ELABORACION}


		<div class="form-group srchPanelRow {$filterRow_class_FECHA_ELABORACION}" {$filterRow_attrs_FECHA_ELABORACION}>
			<label>{$label stockmed FECHA_ELABORACION }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_FECHA_ELABORACION}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_FECHA_ELABORACION}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_FECHA_ELABORACION}</span>
						</div>
		{END searchCtrlBlock_FECHA_ELABORACION}
																{BEGIN searchCtrlBlock_FECHA_CADUCIDAD}


		<div class="form-group srchPanelRow {$filterRow_class_FECHA_CADUCIDAD}" {$filterRow_attrs_FECHA_CADUCIDAD}>
			<label>{$label stockmed FECHA_CADUCIDAD }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_FECHA_CADUCIDAD}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_FECHA_CADUCIDAD}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_FECHA_CADUCIDAD}</span>
						</div>
		{END searchCtrlBlock_FECHA_CADUCIDAD}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>Mostrar todo</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>	
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar todo">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="stockmed_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Búsqueda avanzada		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Mostrar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Ocultar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		Exportar resultados		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>							{BEGIN import_link}
	<li data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" data-small >
				<a  {$importlink_attrs} href="stockmed_import.php{$stateLink_full}"  title="" >
				
		Importar		
		</a>
	</li>
{END import_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Página para imprimir" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Rango:		</div>

		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="stockmed_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
									Imprimir todas las páginas							</label>
		</div>
		{END print_friendly_all}
	</div>
	<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="stockmed_print.php?{$crosstable_attrs}">
				Imprimir esta página			</label>
		</div>
	</div>
	
	</div>				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Resultados por página							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Imprimir			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
		[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="CODIGO"]:before {
		content: "{$label stockmed CODIGO}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="NOMBRE"]:before {
		content: "{$label stockmed NOMBRE}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="PRESENTACI_N"]:before {
		content: "{$label stockmed PRESENTACI_N}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="SINONIMO"]:before {
		content: "{$label stockmed SINONIMO}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="LOTE"]:before {
		content: "{$label stockmed LOTE}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="PROVEEDOR"]:before {
		content: "{$label stockmed PROVEEDOR}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="REGISTRO_SANITARIO"]:before {
		content: "{$label stockmed REGISTRO_SANITARIO}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="FECHA_ELABORACION"]:before {
		content: "{$label stockmed FECHA_ELABORACION}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="FECHA_CADUCIDAD"]:before {
		content: "{$label stockmed FECHA_CADUCIDAD}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="STOCK"]:before {
		content: "{$label stockmed STOCK}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="PRECIO_UNITARIO"]:before {
		content: "{$label stockmed PRECIO_UNITARIO}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="VALOR_TOTAL"]:before {
		content: "{$label stockmed VALOR_TOTAL}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$CODIGO_class}
			"

			data-field="CODIGO"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CODIGO_fieldheadercolumn}
	{BEGIN CODIGO_fieldheader}
	<SPAN {$CODIGO_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CODIGO">
	{$label stockmed CODIGO }	{$arrow_icon_CODIGO}
	</SPAN>
	{END CODIGO_fieldheader}
{END CODIGO_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$NOMBRE_class}
			"

			data-field="NOMBRE"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN NOMBRE_fieldheadercolumn}
	{BEGIN NOMBRE_fieldheader}
	<SPAN {$NOMBRE_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="NOMBRE">
	{$label stockmed NOMBRE }	{$arrow_icon_NOMBRE}
	</SPAN>
	{END NOMBRE_fieldheader}
{END NOMBRE_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$PRESENTACI_N_class}
			"

			data-field="PRESENTACI_N"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PRESENTACI_N_fieldheadercolumn}
	{BEGIN PRESENTACI_N_fieldheader}
	<SPAN {$PRESENTACI_N_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PRESENTACI_N">
	{$label stockmed PRESENTACI_N }	{$arrow_icon_PRESENTACI_N}
	</SPAN>
	{END PRESENTACI_N_fieldheader}
{END PRESENTACI_N_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$SINONIMO_class}
			"

			data-field="SINONIMO"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN SINONIMO_fieldheadercolumn}
	{BEGIN SINONIMO_fieldheader}
	<SPAN {$SINONIMO_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="SINONIMO">
	{$label stockmed SINONIMO }	{$arrow_icon_SINONIMO}
	</SPAN>
	{END SINONIMO_fieldheader}
{END SINONIMO_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$LOTE_class}
			"

			data-field="LOTE"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN LOTE_fieldheadercolumn}
	{BEGIN LOTE_fieldheader}
	<SPAN {$LOTE_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="LOTE">
	{$label stockmed LOTE }	{$arrow_icon_LOTE}
	</SPAN>
	{END LOTE_fieldheader}
{END LOTE_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$PROVEEDOR_class}
			"

			data-field="PROVEEDOR"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PROVEEDOR_fieldheadercolumn}
	{BEGIN PROVEEDOR_fieldheader}
	<SPAN {$PROVEEDOR_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PROVEEDOR">
	{$label stockmed PROVEEDOR }	{$arrow_icon_PROVEEDOR}
	</SPAN>
	{END PROVEEDOR_fieldheader}
{END PROVEEDOR_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$REGISTRO_SANITARIO_class}
			"

			data-field="REGISTRO_SANITARIO"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN REGISTRO_SANITARIO_fieldheadercolumn}
	{BEGIN REGISTRO_SANITARIO_fieldheader}
	<SPAN {$REGISTRO_SANITARIO_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="REGISTRO_SANITARIO">
	{$label stockmed REGISTRO_SANITARIO }	{$arrow_icon_REGISTRO_SANITARIO}
	</SPAN>
	{END REGISTRO_SANITARIO_fieldheader}
{END REGISTRO_SANITARIO_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$FECHA_ELABORACION_class}
			"

			data-field="FECHA_ELABORACION"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FECHA_ELABORACION_fieldheadercolumn}
	{BEGIN FECHA_ELABORACION_fieldheader}
	<SPAN {$FECHA_ELABORACION_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FECHA_ELABORACION">
	{$label stockmed FECHA_ELABORACION }	{$arrow_icon_FECHA_ELABORACION}
	</SPAN>
	{END FECHA_ELABORACION_fieldheader}
{END FECHA_ELABORACION_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$FECHA_CADUCIDAD_class}
			"

			data-field="FECHA_CADUCIDAD"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FECHA_CADUCIDAD_fieldheadercolumn}
	{BEGIN FECHA_CADUCIDAD_fieldheader}
	<SPAN {$FECHA_CADUCIDAD_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FECHA_CADUCIDAD">
	{$label stockmed FECHA_CADUCIDAD }	{$arrow_icon_FECHA_CADUCIDAD}
	</SPAN>
	{END FECHA_CADUCIDAD_fieldheader}
{END FECHA_CADUCIDAD_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
				 
					{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$STOCK_class}
			"

			data-field="STOCK"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN STOCK_fieldheadercolumn}
	{BEGIN STOCK_fieldheader}
	<SPAN {$STOCK_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="STOCK">
	{$label stockmed STOCK }	{$arrow_icon_STOCK}
	</SPAN>
	{END STOCK_fieldheader}
{END STOCK_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
				 
					{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$PRECIO_UNITARIO_class}
			"

			data-field="PRECIO_UNITARIO"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PRECIO_UNITARIO_fieldheadercolumn}
	{BEGIN PRECIO_UNITARIO_fieldheader}
	<SPAN {$PRECIO_UNITARIO_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PRECIO_UNITARIO">
	{$label stockmed PRECIO_UNITARIO }	{$arrow_icon_PRECIO_UNITARIO}
	</SPAN>
	{END PRECIO_UNITARIO_fieldheader}
{END PRECIO_UNITARIO_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
				 
					{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$VALOR_TOTAL_class}
			"

			data-field="VALOR_TOTAL"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VALOR_TOTAL_fieldheadercolumn}
	{BEGIN VALOR_TOTAL_fieldheader}
	<SPAN {$VALOR_TOTAL_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VALOR_TOTAL">
	{$label stockmed VALOR_TOTAL }	{$arrow_icon_VALOR_TOTAL}
	</SPAN>
	{END VALOR_TOTAL_fieldheader}
{END VALOR_TOTAL_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$CODIGO_class}
			"

			data-field="CODIGO"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CODIGO_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CODIGO" data-default-width >
{$CODIGO_value}
</span>
{END CODIGO_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$NOMBRE_class}
			"

			data-field="NOMBRE"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN NOMBRE_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="NOMBRE" data-default-width >
{$NOMBRE_value}
</span>
{END NOMBRE_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$PRESENTACI_N_class}
			"

			data-field="PRESENTACI_N"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PRESENTACI_N_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PRESENTACI_N" data-default-width >
{$PRESENTACI_N_value}
</span>
{END PRESENTACI_N_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$SINONIMO_class}
			"

			data-field="SINONIMO"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN SINONIMO_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="SINONIMO" data-default-width >
{$SINONIMO_value}
</span>
{END SINONIMO_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$LOTE_class}
			"

			data-field="LOTE"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN LOTE_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="LOTE" data-default-width >
{$LOTE_value}
</span>
{END LOTE_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$PROVEEDOR_class}
			"

			data-field="PROVEEDOR"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PROVEEDOR_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PROVEEDOR" data-default-width >
{$PROVEEDOR_value}
</span>
{END PROVEEDOR_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$REGISTRO_SANITARIO_class}
			"

			data-field="REGISTRO_SANITARIO"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN REGISTRO_SANITARIO_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="REGISTRO_SANITARIO" data-default-width >
{$REGISTRO_SANITARIO_value}
</span>
{END REGISTRO_SANITARIO_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$FECHA_ELABORACION_class}
			"

			data-field="FECHA_ELABORACION"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FECHA_ELABORACION_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FECHA_ELABORACION" data-default-width >
{$FECHA_ELABORACION_value}
</span>
{END FECHA_ELABORACION_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$FECHA_CADUCIDAD_class}
			"

			data-field="FECHA_CADUCIDAD"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FECHA_CADUCIDAD_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FECHA_CADUCIDAD" data-default-width >
{$FECHA_CADUCIDAD_value}
</span>
{END FECHA_CADUCIDAD_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
				 
					{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$STOCK_class}
			"

			data-field="STOCK"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN STOCK_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="STOCK" data-default-width >
{$STOCK_value}
</span>
{END STOCK_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
				 
					{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$PRECIO_UNITARIO_class}
			"

			data-field="PRECIO_UNITARIO"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PRECIO_UNITARIO_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PRECIO_UNITARIO" data-default-width >
{$PRECIO_UNITARIO_value}
</span>
{END PRECIO_UNITARIO_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
				 
					{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$VALOR_TOTAL_class}
			"

			data-field="VALOR_TOTAL"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VALOR_TOTAL_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VALOR_TOTAL" data-default-width >
{$VALOR_TOTAL_value}
</span>
{END VALOR_TOTAL_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="stockmed_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="stockmed_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="stockmed_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="stockmed_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="stockmed_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="stockmed_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="stockmed_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="stockmed_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="stockmed_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
				 
					{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="stockmed_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
				 
					{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="stockmed_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
				 
					{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="stockmed_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
		</div>
	{END body}
	</body>
</html>
